* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(35, 75, 35);
}    

.container {
	max-width: 700px;
	margin: 0 auto;
	padding: 50px;
    text-shadow: 3px 5px #3c2424 !important;
}

.game-setting-section{
    border: 2px solid yellow;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bg-game{
    background-color: rgba(60, 60, 60, 0.9);
    border: 2px solid yellow;
}

.range{
    width: 100%;
    align-self: center;
    text-shadow: 3px 3px #3c2424 !important;
}

#grill {
    display: flex;
	flex-wrap: wrap;
    margin-top: 20px;
    background-color:honeydew;
}

#grill > * {
	aspect-ratio: 1;
    border: 1px solid lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}

#point-section{
    color: white;
    font-size: 20px;
}

.btn-success{    
    width: 150px;
    border: 1px solid yellowgreen;
}

.cell-style{
    -webkit-box-shadow: inset 0px 0px 10px #808080;
    -moz-box-shadow: inset 0px 0px 10px #808080;
    box-shadow: inset 0px 0px 10px #808080;
    outline: none;
}

.cell-bomb{
    background-color: red;
    -webkit-box-shadow: inset 0px 0px 10px #2a2727;
    -moz-box-shadow: inset 0px 0px 10px #2a2727;
    box-shadow: inset 0px 0px 10px #2a2727;
    outline: none;
}

